<div id="header">
    <div id="search_container">
        <input type="text" name="search" id="search_query">
        <ul id="search_results"></ul> 
    </div>
    <ul style="display:none;">
        <% @snippets.each do |snippet| %>
        <li>
            <%= snippet.content %>
            <br><%= snippet.language %>
            <br><%= link_to snippet.uuid, snippet %>
        </li>
        <% end %>
    </ul>
</div>
<div id="content">
    <%= render 'form' %>
</div>
