<div id="header">
    <input type="text" name="search" >
    <ul style="display:none;">
        <% @snippets.each do |snippet| %>
        <li>
            <%= snippet.content %>
            <br><%= snippet.language %>
            <br><%= link_to snippet.uuid, snippet %>
        </li>
        <% end %>
    </ul>
</div>
<div id="content">
    <%= render 'form' %>
</div>
